<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Preço</td>
                <td>Quantidade</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Camiseta</td>
                <td>Bem Bonita</td>
                <td>30</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Luva</td>
                <td>Para os dias frios</td>
                <td>39</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</body>

</html>